#leftPanel__wrapper {
    z-index: 110;

    position: fixed;
    top: 20px;
    left: 0px;
    width: 200px;
    
    font-family: RobotoRegular;

    color: #f3f3f3;
    background-color: #191919;
}