// GLOBAL VARIABLES

:root {
    --color : #8D8B8B;
    --background-color : #191919;

    --border-radius: 5px;

    --box-shadow-color-1 : #00000073;
    --box-shadow-color-2 : rgba(0, 0, 0, 0.288);
}

// TEXT

// FONTS

@font-face {
    font-family: RobotoRegular;
    src: url("./Assets/Fonts/Roboto/Roboto-Regular.ttf");
}

// BALISES

// COLOR

.white__color {

    color: '#fff'
}






/* color: #f3f3f3;
background-color: #191919; */